body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.navbar {
  background-color: whitesmoke;
  color: black;
  padding: 30px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.navbar h1,
.navbar p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0; /* Remove margin-right */
  margin-left: auto;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar li {
  display: inline-block;
  margin-right: 1rem; /* Adjust as needed */
}
#calculator-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
#calculatorInput {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.25rem;
  display: flex;
  text-align: center;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .navbar h1,
  .navbar p {
    font-size: 1.25rem;
  }

  .navbar li {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 5px 10px;
  }

  .navbar h1,
  .navbar p {
    font-size: 1rem;
  }

  .navbar li {
    margin-bottom: 0.5rem;
  }
}

* {
  box-sizing: border-box; /* Apply box-sizing to all elements */
}
